ORDER_API=https://personal-<676767>.outsystemscloud.com/order/rest/order
FLASK_DEBUG=1
PUBLISHER_API=http://localhost:3000/notification-publish
CUSTOMER_API=https://personal-<676767>.outsystemscloud.com/customer/rest/customer
MERCHANT_API=https://personal-<676767>.outsystemscloud.com/merchant/rest/merchant
PORT=6768