ORDER_API=https://personal-676767676767.outsystemscloud.com/order/rest/order
MERCHANT_API=https://personal-676767676767.outsystemscloud.com/merchant/rest/merchant
CUSTOMER_API=https://personal-676767676767.outsystemscloud.com/customer/rest/customer
GANTRY_API=https://personal-676767676767.outsystemscloud.com/GantryService/rest/GantryAPI
PUBLISHER_API=http://<some amqp link>:3000/arrival-publish
# FLASK_DEBUG=1