ORDER_API=https://personal-<676767>.outsystemscloud.com/order/rest/order
MERCHANT_API=https://personal-<676767>.outsystemscloud.com/merchant/rest/merchant
CUSTOMER_API=https://personal-<676767>.outsystemscloud.com/customer/rest/customer
GANTRY_API=https://personal-<676767>.outsystemscloud.com/GantryService/rest/GantryAPI
PUBLISHER_API=http://localhost:3000/notification-publish
FLASK_DEBUG=1
PORT=6767 #5000-5010