CONSUMER_RABBITMQ_URL=amqp://guest:guest@localhost:5672
CONSUMER_QUEUE_NAME=notification_queue
CONSUMER_API=https://personal-<676767>.outsystemscloud.com/Notification_CS/rest/NotificationAPI/notification

PUBLISHER_RABBITMQ_URL=amqp://localhost
PUBLISHER_PORT=3000