# Database Credentials
POSTGRES_USER=kong_admin
POSTGRES_DB=kong_gateway
POSTGRES_PASSWORD=kong_password

# Kong Configuration
KONG_PG_PASSWORD=${POSTGRES_PASSWORD}
KONG_PG_USER=${POSTGRES_USER}
KONG_PG_DATABASE=${POSTGRES_DB}

# Admin Security (Only allow local access by default)
ADMIN_PORT_BINDING=8001

VM_HOST=localhost